
:root {
    --primary-color: greenyellow;
    --hover-color: #ff5900;
    --text-light: rgb(204, 248, 155);
    --bg-dark: rgba(0, 0, 0, 0.178);
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('assets/images/Fazer%20com%20que%20a%20pessoa%20na%20imagem%20esteja%20andando%20sobre%20um%20mundo%20de%20tecnologia.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    color: rgb(255, 255, 255);
}

.bg {
    width: 100%;
    background-color: rgba(41, 39, 39, 0.349);
    background-position: 50%;
}

.menu {
    display: flex;
    justify-content: center;
}

.menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.283);
    width: 100%;
    padding: 10px;
}

.bg h1 {
    text-align: center;
    padding: 20px;
    color: white;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.047);
    background-color: var(--bg-dark);
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.67);
}

.menu ul li {
    margin: 0 15px;
}

.menu ul li a {
    color: var(--primary-color);
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    transition: color 0.3s ease;
}

.menu ul li a:hover {
    color: var(--hover-color);
}

.logo img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    margin: 0 auto;
}

.logo {
    background-color: var(--bg-dark);
    padding-top: 10px;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Início */

#home {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color: var(--bg-dark);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.123);
}

#home h2 {
    text-align: center;
    font-size: 2rem;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.436);
    margin-bottom: 20px;
}

#home p {
    text-align: center;
    font-size: 1.2rem;
    color: var(--text-light);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.436);
    font-weight: bold;
    margin-bottom: 20px;
}

#home img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.123);
    margin-bottom: 20px;
}

/* Serviços */

#services {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.349);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.123);
}

#services h3 {
    text-align: center;
    font-size: 2rem;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.436);
    margin-bottom: 20px;
}

#services p {
    text-align: center;
    font-size: 1.2rem;
    color: var(--text-light);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.436);
    font-weight: bold;
    margin-bottom: 20px;
}

#services article {
    width: 80%;
    background-color: var(--bg-dark);
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.123);
}

#services .service-list h4 {
    font-size: 1.5rem;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.436);
    margin-bottom: 10px;
    text-align: center;
}

#services .service-list ul {
    list-style: none;
    padding: 0;
}

#services .service-list ul li {
    font-size: 1.2rem;
    color: rgb(48, 39, 39);
    font-weight: bold;
    margin-bottom: 5px;
}

#services .service-list ul li::before {
    content: "✔️";
    margin-right: 10px;
}

#services .service-list ul li a {
    color: rgb(48, 39, 39);
    font-weight: bold;
    transition: color 0.3s ease;
}

#services .service-list ul li a:hover {
    color: var(--hover-color);
}

/* Contato */

#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.349);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.123);
}

#contact h2 {
    text-align: center;
    font-size: 2rem;
    color: white;
    margin-bottom: 20px;
}

#contact p {
    text-align: center;
    font-size: 1.2rem;
    color: var(--text-light);
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.436);
    font-weight: bold;
    margin-bottom: 20px;
}

#contact form {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#contact form input,
#contact form textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.123);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.123);
}

#contact form button[type="submit"] {
    background-color: var(--hover-color);
    color: rgba(255, 255, 255, 0.671);
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 1px solid rgba(0, 0, 0, 0.123);
    padding: 10px;
    border-radius: 5px;
    font-size: 1.2rem;
}

#contact form button[type="submit"]:hover {
    background-color: #e04d00;
}

/* Rodapé */

footer {
    text-align: center;
    padding: 20px;
    background-color: var(--bg-dark);
    color: var(--text-light);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.436);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.123);
    margin-top: 20px;
    font-size: 1.1rem;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Responsividade */

@media (max-width: 768px) {
    .menu ul {
        flex-direction: column;
    }

    #home img {
        width: 80%;
    }

    #services article {
        width: 100%;
    }

    #contact form {
        width: 100%;
    }
}
